*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    color: #d0d3d4;
    background-color: #1b365d;
    height: 16rem;
    z-index: -999;
}

header .profile-pic-profile-name-and-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 1.4rem;
    top: 35%;
}

header .profile-name-and-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

header .profile-pic-profile-name-and-title img {
    width: 256px;
    height: 256px;
    border-radius: 50%;
}

header .email-whatsapp-linkedin-github {
    position: absolute;
    right: 10px;
    top: 25%;
    width: fit-content;
    padding: 1.5rem;
    border: 1px solid #d0d3d4;
    border-radius: 10px;
}

header .email-whatsapp-linkedin-github li a{
    color: #d0d3d4;
}

main {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
    margin-top: 6rem;
}

main nav {
    grid-column: 1/2;
    padding: 2rem;
    border-radius: 10px;
    color: #d0d3d4;
    background-color: #1b365d;
}

main >nav h1 {
    text-align: center;
    margin-bottom: 2rem;
}

main >nav article h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1rem;
}

main >nav article h2 a {
    color: #d0d3d4;
}

main >nav article img {
    max-width: 100%;
}

main > article {
    grid-column: 2/3;
    padding: 4rem;
    border-radius: 10px;
    color: #d0d3d4;
    background-color: #1b365d;
}

body, input, textarea, select, button {
    font: 400 1rem 'Times New Roman', Verdana, Arial, Tahoma, Helvetica, Calibri;
}

button {
    cursor: pointer;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}